body {
	font-family: 'Ubuntu', sans-serif;
}

#contact {
	border: 1px white;
	color: white;
	text-align: center;

}

#my-pure-button {
	margin-left: 50%;
	background: black;
    border: white;
    border-style: solid;
    color: white;
    border-width: 1px;
	-webkit-transition: color 0.3s; /* Safari */
    transition: background-color 0.2s;
}

#my-pure-button:hover { 
    background-color: #7d7d7d;

}